
<html>
  <head>
    <title><%=title%></title>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' /> 
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
 <script>
   //google.setOnLoadCallback(drawVisualization);
   //drawChart(JSONdata.total_hits);
	var drawGraph = {
		drawGauge : function(value,id){
			var data11= google.visualization.arrayToDataTable([
					['Label', 'Value'],
					['Hits',parseInt(value) ]
					]);

			var options11 = {
				width: 400, height: 120,
				redFrom: 90, redTo: 20000,
				yellowFrom:75, yellowTo: 90,
				minorTicks: 2
			};
		
			var chart = new google.visualization.Gauge(document.getElementById(id));
			chart.draw(data11, options11);
		},
		drawTable : function(array,id){
			//array = array.split(",");
			//console.log(a);
			var dataArrayfortable = [['No.','Activity','Count']];
			var temp = 1;
			for(var i =0 ; i<array.length;i=i+2){
				if(array[i]!="total"){
					dataArrayfortable.push([temp,array[i],array[i+1]]);
					temp++;
				}
			}
			var table = google.visualization.arrayToDataTable(dataArrayfortable);
			var visualization = new google.visualization.Table(document.getElementById(id));
			visualization.draw(table, null);
		},
		drawPie : function(array,id,title){
			//array = array.split(",");
			data = new google.visualization.DataTable();
			data.addColumn('string','Keyword');
			data.addColumn('number','Count');
			for(var i =0 ; i<array.length;i=i+2){
				if(array[i]!="total"){ 
					data.addRows([[array[i],parseInt(array[i+1])]]);
				}
			}
			var options = {'title':title,
							   'width':600,
							   'height':600};
			chart = new google.visualization.PieChart(document.getElementById(id));
			chart.draw(data, options);
		},
		drawBar : function (array,id,col1,col2){
			//array = array.split(",");
			var dataArray = [[col1, col2]];
			for(var i =0 ; i<=array.length;i=i+2){
				if(array[i]!="total" && array[i]!= undefined){    
					dataArray.push([array[i],parseInt(array[i+1])]);
				}
			}
		   //dataArray.pop();  
		   var data1 = google.visualization.arrayToDataTable(dataArray);
		   var table = new google.visualization.Table(document.getElementById(id));
		   var formatter = new google.visualization.BarFormat({'width': 600,'height':600});
		   formatter.format(data1, 1); // Apply formatter to second column
		   table.draw(data1, {allowHtml: true, showRowNumber: true,'width': 1150});
		}
	}
	var getDetail = {
		id : function (key){
			switch(key){
				case "filtersUsed":
					return "bt_filters_spec";
				case "maxKeywordsUsed":
					return "keywords";
				case "productViewed":
					return "visualization";
				case "timeSpent":
					return "actionurl";
				case "leastPageVisits":
					return "actionurl1";
				case "pageVisits":
					return "actionurl2";
			}
		},
		title : function (key){
			switch(key){
				case "filtersUsed":
					return "Filters Mostly Used";
				case "maxKeywordsUsed":
					return "Freqency of Search Keywords";
			}
		},
		col1 : function (key){
			switch(key){
				case "productViewed":
					return "Product Urls";
				default:
					return "Page Urls";
			}
		},
		col2 : function (key){
			switch(key){
				case "productViewed":
					return "No. of visits";
				default:
					return "Time Spent (seconds)";
			}
		}
	}
	
    function drawChart(JSONdata) 
	{
		for(var key in JSONdata){
			switch(key){
				case "total_hits":
					drawGraph.drawGauge(JSONdata[key],'gauge');
					break;
				case "filterType":
					drawGraph.drawTable(JSONdata[key],'bt_filters');
					break;
				case "filtersUsed":
				case "maxKeywordsUsed":
					drawGraph.drawPie(JSONdata[key],getDetail.id(key),getDetail.title(key));
					break;
				case "productViewed":
				case "timeSpent":
				case "leastPageVisits":
				case "pageVisits":
					drawGraph.drawBar(JSONdata[key],getDetail.id(key),getDetail.col1(key), getDetail.col2(key));
					break;
			}
		}
    }
	
	var data;
    var chart;
	google.load('visualization', '1', {'packages':['corechart','geochart','table','gauge']});
	$( document ).ready(function() {
		
		$(function() {
			$( "#tabs" ).tabs();
		});
		var JSONdata = <%-data%>;
		if(JSONdata.total_hits!=undefined){
			$("#updates").html(JSONdata.total_hits);
			google.setOnLoadCallback(drawChart(JSONdata));
		}
		
    });
   
	var socket = io.connect('http://94.200.178.58:3000/',{
		'sync disconnect on unload' : true
	});
	
	var listen = 'sendTo:'+<%-webID%>;
	
	socket.on(listen, function (data) {
		console.log("session id",socket.socket.sessionid);
		var JSONdata = data;
$("#updates").html(JSONdata.total_hits);
		google.setOnLoadCallback(drawChart(JSONdata));
	});
	
	window.onbeforeunload = function(){
		socket.emit('webID',"<%-webID%>");
		console.log("emitted");
	}
   
 </script>
<style>
.page {
  text-align:center;
  border: 1px solid rgb(0,0,0);
  width:400px;
  height:400px;              
  float: left;
}

.pageHolder{
  overflow: auto;
  width: 100%;
}
</style>
  </head>
  <body>
  <h3> Behaviour  Tracking</h3>
 Live Hits: <div id="updates"></div>
 
 
 
 
  <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Keyword Graph</a></li>
    <!--<li><a href="#tabs-2">Category Based</a></li> -->
    <li><a href="#tabs-3">Actions URL's</a></li>
	<!--<li><a href="#tabs-4">Product ID's</a></li>-->
	<li><a href="#tabs-5">Overall Data Category-wise</a></li>
	<li><a href="#tabs-6">Guage</a></li>
	<li><a href="#tabs-7">PID's</a></li>
	
	
  </ul>
  
  
  <div id="tabs-1" class='pageHolder'>
	<div class='page' id="keywords"></div>
	
  </div>
  
  
  <!--
  <div id="tabs-2"  class='pageHolder'>
	 <div class='page' id="tp"></div>
	 <div class='page' id="mk"></div>
	 <div class='page' id="md"></div>
	 <div class='page' id="yr"></div>
	 <div class='page' id="pr"></div>
	 <div class='page' id="co"></div>
	 <div class='page' id="fe"></div>
	 <div class='page' id="en"></div>
	 <div class='page' id="tn"></div>
	 <div class='page' id="ml"></div>
	 <div class='page' id="dt"></div>
	 <div class='page' id="fl"></div>
	 <div class='page' id="bd"></div>
	 <div class='page' id="st"></div>
  
  </div>-->
  
  
  
	  <div id="tabs-3" class='pageHolder'>
		<h1>Most Time spent Pages</h1>
		<div id="actionurl"></div>
		<h1>Most visited Pages</h1>
		<div id="actionurl2"></div>
		<h1>Least visited pages</h1>
		<div id="actionurl1"></div>
		
	  </div>
	  <!--<div id="tabs-4" class='pageHolder'>
	  <div class='page' id="pid"></div>
	  </div>-->
	  <div id="tabs-5">
	   <div id="bt_filters"></div>
	   <div id="bt_filters_spec"></div>
	  </div>
	  <div id="tabs-6"><div id="gauge"></div></div>
	  <div id="tabs-7"><div id="visualization"></div></div>
	 
	  
	  
  </div>
 
  </body>
</html>
