<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src='//code.jquery.com/jquery-1.10.2.min.js' type='text/javascript'></script>
	
  </head>
  <style>
	ol li{
		height:25px;
		border:1px solid black;
		width:100px;
		text-decoration: underline;
		color: blue;
		
	}
	li:hover{
	cursor: pointer;
	}
  </style>
  <body>
  Please click multiple times on the below links;
  
  <ol>
	<li id="1">BMW</li>
	<li id="2">Used Car</li>
	<li id="3">Jeep</li>
	<li id="4">Toyota</li>
	<li id="5">Suzuki</li>
	<li id="6">Ford</li>
	<li id="7">Mazda</li>
	
	
  <ol>
  
    <script type='text/javascript'>
			$(document).ready(function(){
				
				$("li").click(function(){
					var post = {
						id : $(this).attr('id'),
						category: "car",
						keyword:$(this).text()
					};
					console.log('posting data ' , post);
				});
				
			});
	</script>
  </body>
</html>