<!DOCTYPE html>
<html>
  <head>
    <title>Visitor Stats</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/socket.io/socket.io.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type='text/javascript' src='http://94.200.178.58:3000/knockout-3.0.0.js'></script>

	<script>
	$(function() {
    $( "#tabs" ).tabs();
	$('#tabs-1').tabs();
	});
	google.load('visualization', '1', {'packages':['corechart','geochart','table','columnchart']});
	  var socket = io.connect('http://94.200.178.58:3000');	  
	  socket.on('disconnect', function(){
		console.log('socket closed');
	  });
	  
	  
	  	function drawChart(tabledata,keywords,bt,visitor_times) {
				
					if(bt != undefined)
					{
					var dataArrayfortable0 = [['Date Time','Action Url','product ID','Selected Items']];
					var dataArrayfortable1 = [['Date Time','Action Url','product ID','Selected Items']];
					var dataArrayfortable2 = [['Date Time','Action Url','product ID','Selected Items']];
					
					var forChart =  {};
					forChart['Type'] = 0;
					forChart['Make'] = 0;
					forChart['Model'] = 0;
					forChart['year'] = 0;
					forChart['Price'] = 0;
					forChart['Color'] = 0;
					forChart['Fuel'] = 0;
					forChart['BodyStyles'] = 0;
					forChart['Engines'] = 0;
					forChart['Transmissions'] = 0;
					forChart['Miles'] = 0;
					forChart['Drivtrain'] = 0;
					forChart['FuelType'] = 0;
					forChart['Seating Capacity'] = 0;
					var bt0 = 0;
					var bt1 = 0;
					var bt2 = 0;
					//Please remove the below ifs and use the javascript array filters, map , redue
					for(var i=0; i<bt.length; i++)
					{
						var jasonobj = JSON.parse(bt[i]);
						var count = 1;
						var selectedItems = "";
						
						if(jasonobj.tp != "" && jasonobj.tp != undefined)
						{
							selectedItems = " Type :"+jasonobj.tp.join(",");
							if(forChart['Type'] == 0)
							{
								forChart['Type'] = jasonobj.tp.length;
							}
							else
							{
								forChart['Type'] = forChart['Type'] + jasonobj.tp.length;
							}
							
						}
						if(jasonobj.mk != "" && jasonobj.mk != undefined)
						{
							selectedItems = selectedItems + " Make :"+jasonobj.mk.join(",");
							if(forChart['Make'] == 0)
							{
								forChart['Make'] = jasonobj.mk.length;
							}
							else
							{
								forChart['Make'] = forChart['Make'] + jasonobj.mk.length;
							}
						}
						if(jasonobj.md != "" && jasonobj.md != undefined)
						{
							selectedItems = selectedItems + " Model :"+jasonobj.md.join(",");
							if(forChart['Model'] == 0)
							{
								forChart['Model'] = jasonobj.md.length;
							}
							else
							{
								forChart['Model'] = forChart['Model'] + jasonobj.md.length;
							}
						}
						if(jasonobj.yr != "" && jasonobj.yr != undefined)
						{
							selectedItems = selectedItems + " Year :"+jasonobj.yr.join(",");
							if(forChart['Year'] == 0)
							{
								forChart['Year'] = jasonobj.yr.length;
							}
							else
							{
								forChart['Year'] = forChart['Year'] + jasonobj.yr.length;
							}
						}
						if(jasonobj.pr != "" && jasonobj.pr != undefined)
						{
							selectedItems = selectedItems + " Price :"+jasonobj.pr.join(",");
							if(forChart['Price'] == 0)
							{
								forChart['Price'] = jasonobj.pr.length;
							}
							else
							{
								forChart['Price'] = forChart['Price'] + jasonobj.pr.length;
							}
						}
						if(jasonobj.co != "" && jasonobj.co != undefined)
						{
							selectedItems = selectedItems + " Color :"+jasonobj.co.join(",");
							if(forChart['Color'] == 0)
							{
								forChart['Color'] = jasonobj.co.length;
							}
							else
							{
								forChart['Color'] = forChart['Color'] + jasonobj.co.length;
							}
						}
						if(jasonobj.fe != "" && jasonobj.fe != undefined)
						{
							selectedItems = selectedItems + " Fuel :"+jasonobj.fe.join(",");
							if(forChart['Fuel'] == 0)
							{
								forChart['Fuel'] = jasonobj.fe.length;
							}
							else
							{
								forChart['Fuel'] = forChart['Fuel'] + jasonobj.fe.length;
							}
						}
						if(jasonobj.bd != "" && jasonobj.bd != undefined)
						{
							selectedItems = selectedItems + " BodyStyles :"+jasonobj.bd.join(",");
							if(forChart['BodyStyles'] == 0)
							{
								forChart['BodyStyles'] = jasonobj.bd.length;
							}
							else
							{
								forChart['BodyStyles'] = forChart['BodyStyles'] + jasonobj.bd.length;
							}
						}
						if(jasonobj.en != "" && jasonobj.en != undefined)
						{
							selectedItems = selectedItems + " Engines :"+jasonobj.en.join(",");
							if(forChart['Engines'] == 0)
							{
								forChart['Engines'] = jasonobj.en.length;
							}
							else
							{
								forChart['Engines'] = forChart['Engines'] + jasonobj.en.length;
							}
						
						}
						if(jasonobj.tr != "" && jasonobj.tr != undefined)
						{
							selectedItems = selectedItems + " Transmissions :"+jasonobj.tr.join(",");
							if(forChart['Transmissions'] == 0)
							{
								forChart['Transmissions'] = jasonobj.tr.length;
							}
							else
							{
								forChart['Transmissions'] = forChart['Transmissions'] + jasonobj.tr.length;
							}
						
						}
						if(jasonobj.ml != "" && jasonobj.ml != undefined)
						{
							selectedItems = selectedItems + " Miles :"+jasonobj.ml.join(",");
							if(forChart['Miles'] == 0)
							{
								forChart['Miles'] = jasonobj.ml.length;
							}
							else
							{
								forChart['Miles'] = forChart['Miles'] + jasonobj.ml.length;
							}
						
						}
						if(jasonobj.dt != "" && jasonobj.dt != undefined)
						{
							selectedItems = selectedItems + " Drivtrain :"+jasonobj.dt.join(",");
							if(forChart['Drivtrain'] == 0)
							{
								forChart['Drivtrain'] = jasonobj.dt.length;
							}
							else
							{
								forChart['Drivtrain'] = forChart['Drivtrain'] + jasonobj.dt.length;
							}
						
						}
						if(jasonobj.fl != "" && jasonobj.fl != undefined)
						{
							selectedItems = selectedItems + " FuelType :"+jasonobj.fl.join(",");
							if(forChart['FuelType'] == 0)
							{
								forChart['FuelType'] = jasonobj.fl.length;
							}
							else
							{
								forChart['FuelType'] = forChart['FuelType'] + jasonobj.fl.length;
							}
						
						}
						if(jasonobj.st != "" && jasonobj.st != undefined)
						{
						selectedItems = selectedItems + " Seating Capacity :"+jasonobj.st.join(",");
						if(forChart['Seating Capacity'] == 0)
							{
								forChart['Seating Capacity'] = jasonobj.st.length;
							}
							else
							{
								forChart['Seating Capacity'] = forChart['Seating Capacity'] + jasonobj.st.length;
							}
						
						}
						
						
	///////////////////////////////////////////					
						
						
					var keys = "";
					var values = undefined;
						
					
					var dataArrayfortable00 = [['Category','Density']];
					$.each(forChart, function (key, value) {
						dataArrayfortable00.push([key,value]);
					});
					var options1 = {
					title: 'Visitor Selected filters',
					width: 800,
					height: 800,
					  vAxis: {title: 'Category',  titleTextStyle: {color: 'red'}}
					};

						var table00 = google.visualization.arrayToDataTable(dataArrayfortable00);
						var what = new google.visualization.BarChart(document.getElementById('drawc'));
						what.draw(table00, options1);
						
									
									
									
						
						
						
						
						
						
						
						
						if(jasonobj.flag == 0)
						{
							
							
							bt0 = bt0 + 1;
							dataArrayfortable0.push([jasonobj.datetime,jasonobj.actionurl,jasonobj.pid,selectedItems]);
							
							
							
						}
						else if(jasonobj.flag == 1)
						{	
							
							bt1 = bt1 + 1;
							dataArrayfortable1.push([jasonobj.datetime,jasonobj.actionurl,jasonobj.pid,selectedItems]);
							
							
						}
						else if(jasonobj.flag == 2)
						{
							bt2 = bt2 + 2;
							dataArrayfortable2.push([jasonobj.datetime,jasonobj.actionurl,jasonobj.pid,selectedItems]);
							
						}
							

					}
				
					
					var table0 = google.visualization.arrayToDataTable(dataArrayfortable0);
					visualization = new google.visualization.Table(document.getElementById('tablebt10'));
					visualization.draw(table0, null);
					
					var table1 = google.visualization.arrayToDataTable(dataArrayfortable1);
					visualization = new google.visualization.Table(document.getElementById('tablebt11'));
					visualization.draw(table1, null);
					
					var table2 = google.visualization.arrayToDataTable(dataArrayfortable2);
					visualization = new google.visualization.Table(document.getElementById('tablebt12'));
					visualization.draw(table2, null);
					
					///////////////////////////////////////////
					// Graph for overall data chart
					var data11 = google.visualization.arrayToDataTable([
						['Genre', 'Data Found' , 'Data Not Found', 'Data Found not interested', { role: 'annotation' } ],
						['Searched Data', 2,3,8,''],
						['Behavioral Data',bt0, bt1,bt2,''],
					  ]);

					  var options2 = {
						width: 800,
						height: 600,
						legend: { position: 'top', maxLines: 2 },
						bar: { groupWidth: '75%' },
						isStacked: true,
					  };
						
						
						var stacked = new google.visualization.ColumnChart(document.getElementById('stacked'));
						stacked.draw(data11, options2);
					
					
					
					
					
					
					
				}
					
					
					
					
					
					
					
					
					
					
				if(visitor_times != '' && visitor_times != undefined)
				{
					var dataArrayfortable = [['No. of Activity','Date Time','Action Url','Time Spend','Status']];
					var temp =1; 
					for(var i=0; i<visitor_times.length; i++)
					{
					dataArrayfortable.push([temp,visitor_times[i].datetime,visitor_times[i].actionurl,visitor_times[i].time,visitor_times[i].active]);
					temp++;
					}
					var table = google.visualization.arrayToDataTable(dataArrayfortable);
					visualization = new google.visualization.Table(document.getElementById('visitor_urls'));
					visualization.draw(table, null);
				}	
					
					
					
					
					
					
				if(tabledata != '' && tabledata != undefined)
				{
					var dataArrayfortable = [['No. of Activity','Date Time', 'Website Url', 'Searched Text','Action Url','product ID']];
					var temp =1; 
					for(var i=0; i<tabledata.length; i++)
					{
						if(tabledata[i] != '' && tabledata[i] != undefined)
						{
						dataArrayfortable.push([temp,tabledata[i].datetime,tabledata[i].websiteurl,tabledata[i].searchedtext,tabledata[i].actionurl,tabledata[i].pid]);
						temp++;
						}
					}
					var table = google.visualization.arrayToDataTable(dataArrayfortable);
					visualization = new google.visualization.Table(document.getElementById('table1'));
					visualization.draw(table, null);
				}
				if(keywords instanceof Object == true)
				{
					
					var data = new google.visualization.DataTable();
					data.addColumn('string','Keyword');
					data.addColumn('number','Count');
				
					Object.keys(keywords).forEach(function(keyword){				
					data.addRows([[keyword,parseInt(keywords[keyword],10)]]);
					});
					var options = {'title':'Freqency of Search Keywords',
							   'width':700,
							   'height':700};
					var chart = new google.visualization.PieChart(document.getElementById('keywords'));
					chart.draw(data, options);
					
				
				}
				
			
			
			
			
			
			
        }
	

	  google.setOnLoadCallback(drawChart);
	  
	  socket.on('visitor_updates', function (data) {	  
		//$("#updates").html(data.hits);
		//console.log(data);	
		//console.log(data.visitor_times);
		var bt = data.bt_range
		var search_activities = data.search_activities
		var search_keywords = data.search_keywords;
		var visitor_times = data.visitor_times;
		console.log('bt = ',bt);	
		console.log('search_keywords = ',search_keywords);	
		console.log('search_activities  = ',search_activities);	
		drawChart(search_activities,search_keywords,bt,visitor_times);
		//testing();
	  });
	  
	  window.onbeforeunload = function() {
    socket.onclose = function () {}; // disable onclose handler first
    socket.close();
};
	  
	</script>
  </head>
  <body>
  <h3> Live Visitor Behaviour  Tracking</h3>	
  
  <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Keywords Graph</a></li>
    <li><a href="#table1">Searched Keywords</a></li>
    <li><a href="#tabs-3">Behavior Data</a></li>
	<li><a href="#tabs-4">Category Graph</a></li>
	<li><a href="#tabs-5">Overall Data Chart</a></li>
	<li><a href="#tabs-6">Visitor URLs</a></li>
	<li><a href="#tabs-7">Knockout .js Visitor URLs</a></li>
	
  </ul>
  
  
  <div id="tabs-1">
	  <div id="keywords"></div>
	 
  </div>
  
  
  
  <div id="table1"></div>
  
  
  
	  <div id="tabs-3">
	  
		<div id="tablebt10"></div>
		<div id="tablebt11"></div>
		<div id="tablebt12"></div>
	  </div>
	  <div id="tabs-4"><div id="drawc" style="width:900px; height:900px;"></div></div>
	  <div id="tabs-5"><div id="stacked" style="width:900px; height:900px;"></div></div>
	  <div id="tabs-6"><div id="visitor_urls"></div></div>
		
		
		<div id="tabs-7">
		<div data-bind='simpleGrid: gridViewModel'> </div>
 
		<button data-bind='click: addItem'>
			Add item
		</button>
		 
		<button data-bind='click: sortByName'>
			Sort by name
		</button>
		 
		<button data-bind='click: jumpToFirstPage, enable: gridViewModel.currentPageIndex'>
			Jump to first page
		</button> 
		</div>
	  
	  
  </div>

   
  
  
  </body>
</html>



